body{
    color: darkblue;
    background-color: rgb(184, 243, 184);
}

h1{
    color: green;
    font-size: xx-large;
}

img{
    height: 100px;
    width: 100px;
}

.overmij{
    background-color: lightcyan;
}

span{
    color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
}